APP_NAME=Webpack React Refresher
APP_ENV=development
API_BASE_URL=http://localhost:4000/api
FEATURE_NEW_DASHBOARD=true

# Create seperate .env file for seperate environment 
.env.development
.env.production